org.kde.plasma/
.bst/
*.raw
*.raw.*
*.iso
*.tar.zst
*.tar.gz
.ovmf-vars.fd
AURORA_VM_USAGE.sh
copilot-session-*.md
files/
*.tsv
*.ppm
out/
initrd-final/
initrd-abs/
initrd-deploy/
ostree-export/
qtbase-contents/
aurora-rootfs*
bootable*
nohup.out
