[Unit]
Description=Create user
ConditionFirstBoot=yes

[Service]
Type=oneshot
ExecStart=useradd -m konqi
ExecStart=usermod -a -G wheel -G video konqi

[Install]
WantedBy=multi-user.target
